* {
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
  scroll-padding-bottom: 7vmax;
}

.wrapper {
  width: 100%;
}

body {
  background-color: hsla(240, 177%, 35%, 0.7);
}

/*  HEADER STYLES  */

.headerli__1 {
  background-color: black;
  border-radius: 35px;
  padding: 1rem;
}

#ol-header__1 {
  display: flex;
  justify-content: right;
  font-size: 1.5rem;
  padding: 0 0 0 5px;
  margin: 5px 0;
}

#headlinks__1 {
  text-decoration: none;
  text-align: center;
  color: white;
  padding: 1vw;
  margin-left: 1em;
  transition: 0.7s;
  overflow: auto;
}

#headlinks__1:hover {
  color: blue;
}

#discord-img {
  position: absolute;
  top: -0.2vw;
}

@media only screen and (max-width: 414px) {
  #ol-header__1 {
    font-size: 0.8rem;
  }

  .headerli__1 {
    margin: 1px;
  }

  #both-para-tags {
    font-size: 1rem;
  }
  
}
