.project-sect {
    padding: 15vw;
}

.projects-header {
    display: flex;
    justify-content: center;
    font-size: 3rem;
}

.projects-body-para {
    
}

@media only screen and (max-width: 414px) {
    .projects-header {
      font-size: 1.5rem;
    }

    .project-sect {
        padding: 35vw;
    }
    
}